html{
	position: relative;
}

body{
	margin-bottom: 100px: 
}
.jumbotron{
	padding-top: 30px;
	min-height: 400px;
	text-align: center;
	/*background-image: url(assets/img/gumul.jpg);*/
	/*background-image: 'image/test.jpg'}*/
	/*background-image: url('assets/img/gumul.jpg');}*/
	/*background-image: url(<?php echo base_url() ?>/assets/img/aziz.jpg;);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 25%;
	background-attachment: fixed;
	background-size: 1400px;


}
.jumbotron h1 {
	/*color: #228B22;
	border-color: green;
  	box-shadow: inset 0 2px 8px green, 0 0 8px green;
  	*/
  	font: 600 3em/1 'Raleway', sans-serif;
    /*color: rgba(0,0,0,.5);*/
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    /*position: absolute;*/
    top: 25%;
    width: 100%
}

.jumbotron p {

	/*color: #228B22;*/
	
}
/*.jumbotron img {
	width: 200px;	
	border: 5px solid darkgreen;
	
}*/
.sekilas{
	min-height: 400px;
}
.tabelpegawai{
	padding-top: 70px;
	min-height: 700px;
}
hr{
width: 400px;
border-top: 4px solid black;
}
.contact{
	padding-top: 70px;
	min-height: 400px;
}
.tambah{
	padding-top: 70px;
	min-height: 700px;
}
.berita{
	min-height: 600px;
}
.tentang{
	padding-top: 70px;
	min-height: 600px;
}
#wrapper {
  padding-left: 0;
}

.galeri{
	padding-top: 70px;
	min-height: 700px;
}
.lengkapBerita{
	padding-top: 70px;
	min-height: 700px;
}
.ajax{
	padding-top: 60px;
	min-height: 800px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
      color: black !important;
      background-color: #fff !important;
  }

.pegawai{
	padding-top: 45px;
min-height: 700px;	
}

footer p{
	color: #aaa;
	font-size: 1em;
}
.bottombar{
	padding-top: 20px;
	background-color: #292929;
	min-height: 140px;
	margin-bottom: 50px;
}
.bottombar p{
	color: white;
}
.bottombar h5{
	color: white;
}
.bottombar h4{
	color: white;
}
.bottombar ul{
	list-style-type: none;	
}
.bottombar img{
	width: 140px;
}

.navbar{
	background-color: #000000;
}
.pesan{
	padding-top: 70px;
	min-height: 400px;
}

v\#fh5co-main {
  padding-top: 5em;
}

#fh5co-board .item {
  margin: 10px 10px 20px 10px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
#fh5co-board .item a {
  display: block;
}
#fh5co-board .item .fh5co-desc {
  padding: 20px;
  float: left;
  line-height: 24px;
}
#fh5co-board .item .fh5co-item-title {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
#fh5co-board .item img {
  max-width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#fh5co-board .item .fh5co-board-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
#fh5co-board .item .image-popup:hover img {
  opacity: .5;
}
